@charset "utf-8";
/*Hnin Htet Htet Lwin, BU001, 2600*/

body {background-image:url("j2431logo.png");background-repeat:no-repeat;background-position:top left}
table {margin-right: 0;margin-left: auto}
h1,h2 {font-family:Times,"Times New Roman",serif;font-weight:bold}
p {font-weight:bold;text-align:justify}
